PORT=6970
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_DATABASE=comedor
ACCESS_TOKEN_SECRET=cambiar_por_un_secreto_largo_y_random
REFRESH_TOKEN_SECRET=cambiar_por_otro_secreto_largo_y_random
CORS_ORIGIN=http://localhost:5173